body{
    max-width: 100%;
    height: auto;
/* 
    background-image: url('../img/img_fondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: grayscale(100%) opacity(0.1); Aplica un filtro para disminuir el color */

}

.container-fluid{
    background-color:#e9cea9;
    max-width: 100%;
    height:auto ;
}

/*formato  del logo encabezado*/
.header{
    max-width: 100%;
    height: 25%;
    display: flex;
    position: relative;
    z-index: 1;
    /* color: black; Cambia el color del texto para que sea visible */
    margin: 5px;

}

/*formato  del logo UJaveriana*/
.logoU{
    margin-top: -8px;
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 1; 
    /* overflow: visible;
    mix-blend-mode: multiply; */
   */

}

.logoU h3{
    margin-top: 42%;
    margin-left: 8%;
    font-size: 10px;
    text-align: center;
    
}

.header h4{
    max-width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #111010;
    font-size: 40px;
    text-align: center;
    padding: 25px;
    position: relative;
}

/* @keyframes header {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
} */

.navbar{
    max-width: 100%;
    height: 8%;
    position: relative;
    background-color:#9b775d;
    position: relative;

}

.nav-item, a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: black;


}


.nav-item a{
    color: inherit;
}

.nav-item a:hover{
    color: inherit;
}

.nav-item a:visited{
    color: inherit;
}

.inicio{
    width: 50px;
    height: 30px;
    margin-inline-end: 0px;
    padding: 0px;
}

.principal{
    display: block;
    /* height: 100vh;          Ajusta la altura del contenedor si es necesario */
    position: relative;
    padding: 0%;
}

.carousel{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.w-100{
    max-width: 100%;
    height:400px;
}

.tema{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #141414; 
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}

.rutas{
    max-width: 70%;
    height: 40%;
    object-fit: cover; 
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f3f1f1; 
    display: inline-block;
    font-size: 15px;
    text-align: center; /***** center *****/  /***** End center *****/

    
}

.card-img-top{
    width: 350px;
    height: 130px;
    margin-top: 5px;
    overflow: visible;
    object-fit: cover;
    mix-blend-mode: multiply;
}

.card{
    width: 450px;
    height: 550px;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #111010; 
    box-shadow: 15px 15px 15px #ab7b59;
    border-style: dotted;
}

.card-body h1 a{
    padding: 0%;
    text-decoration: none; /* Quita el subrayado del enlace */
    color: rgb(19, 19, 26); /* Opcional: Cambia el color del enlace */
    font-weight: bold;
}


.card-tittle{
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    z-index: 1;
    object-fit: cover; 
    position: relative;  
}

.card-text a{
    margin-top: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    text-align: center;
    text-decoration: none; /* Quita el subrayado del enlace */
    color: rgb(19, 19, 26); /* Opcional: Cambia el color del enlace */
}

.title2{
    padding: 5px;
    font-family: cursive;
    font-size: 3em;
    color: rgb(148, 120, 84);
    font-weight: bold;
    text-align: center;
   

}

.title3, h2{
    font-size: 2em;
    height: 40px;
    color: gray;
    text-align: center;
}
.title, h3{
    margin: 5px;
    margin-bottom: 5px;
    font-family: cursive;
    font-size: 40px;
    color: hsl(46, 55%, 26%);
    text-align: center;
    position: relative;
}

/* Media query para pantallas grandes */
@media (min-width: 1400px) {
    .container-fluid {
        width: 80%;
        margin: 0 auto;
        background-color: #e0e0e0;
    }
}